@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');
*{
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
.primary-color{
    background-color: #ffff;
}
.second-color{
    background-color:rgba(255, 255, 255, 0.5);
}
.button{
    padding: 15px 40px;
    border:none;
    border-radius: 20px;
    color: #ffff;
    font-weight:600;
    background-color: transparent;
    cursor: pointer;
    font-size: 18px;
}
.btn-color{
    background-color: #E6533C;
}
.primary-title{
    font-size: 40px;
    color: #ffff;
    font-weight: 700;
    margin: 20px 0;
}
.description{
    font-size: 14px;
    margin: 10px 0;
    color: rgba(255, 255, 255, 0.5);
}

/* Header */
.container{}
header{
    background-color: rgba(17, 17, 17, 1);
    color: white;
}
.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:50px 80px;
}
.nav-logo a{
    font-size: 35px;
    font-weight: 800;
    color: #E6533C;
    font-style: italic;
}
.nav-menu > ul{
    display: flex;
    justify-content: space-between;
    gap: 10PX;
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.nav-menu ul li{
    padding: 10px 20px;
    border-radius: 10px;
}
.nav-menu ul li a{
    font-size: 16px;
    color: #ffff;
}
.nav-icon{
    display:none ;
    font-size: 20px;
    background-color: transparent;
    cursor: pointer;
}

/* Banner */
.banner{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button2{
    border: 1px solid #fff;
}
.banner-text{
    width:50%;
    padding: 0 50px;
}
.shape{
    font-family: 'Miama', sans-serif;
    font-size: 100px;
    font-weight: 400;
}
.banner-img img{
    width: 100%;
    padding: 0 30px;
}
.banner-text h1{
    font-size: 70px;
    color:#ffff;
    font-weight: 800;
}
.banner-text p{
    font-size: 16px;
    margin: 40px 0;
    color: rgba(255, 255, 255, 0.5);
}
.banner-btn{
    display: flex;
    gap: 20px;
}
.banner-btn a > .btn-color{
    background-color: #E6533C;
}
.banner-img{
    position: relative;
}
.img-btn1{
    height: auto;
    width: 180px;
    padding: 15px;
    background-color: rgba(70, 69, 69, 0.726);
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    position: absolute;
    left: -50px;
    bottom: 100px;
}
.img-btn-icon{
    height: 35px;
    width: 35px;
    background-color: #E6533C;
    border-radius: 50%;
}
.img-btn-text h4{
    font-size: 20px;
    font-weight: 800;
    color: #fff;
    margin: 5px 0;
}
.img-btn1 p{
    color: rgba(239, 237, 232, 0.65);
    font-size: 14px;
}
.img-btn2{
    width: 170px;
    height: auto;
    padding: 12px 20px;
    background-color:rgba(70, 69, 69, 0.726);
    border-radius: 10px;
    position: absolute;
    right: -20px;
    top: 130px;
}
.img-btn2 h4{
    font-size: 32px;
    font-weight:900;
    color: #fff;
    margin: 5px 0;
}
.img-btn2 p{
    color: rgba(239, 237, 232, 0.65);
    font-size: 13px;
}

.main{
    background-color: #000;
}
/* Habits */
.habits{
    text-align: center;
    padding: 50px 0;
}
.habits-content{
    width: 90%;
    margin: 0 auto;
}
.habits-text {
   width: 55%;
   margin: 0 auto;
}
.habits-text p{
    margin: 25px 0;
}
.habits-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.habits-item{
    padding: 0 20px;
    margin: 30px 0;
}
.habits-item img{
    border-radius: 50%;
    margin: 18px 0;
}
.habits-item h4{
    font-size: 20px;
    color: #ffff;
}
.habits-footer{
    margin: 90px 0;
    text-align: left;
    padding: 40px 60px;
    background-color: rgb(34,34,34);
    border-radius: 15px;
}
.habits-footer-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:150px;
}
.habits-footer-text{
    height: 290px;
    width: 45%;
}
.habits-footer-img{
    width: 45%;
    overflow: hidden;
}
.habits-footer-img img{
    border-radius: 15px;
    height: 345px;
    object-fit:none;
    object-position: 68% 28%;

}
.habits-footer-text > p{
    margin-bottom: 30px;
}
.habits-footer-text button{
    background-color:#E6533C;
}

/* Trainning */
.trainning{
    padding: 50px 0;
}
.trainning-content{
    width: 90%;
    margin: 0 auto;
}
.trainning-text{
    width: 45%;
}
.trainning-img{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    overflow: hidden;
    margin: 50px auto;
    color: #ffff;
}

.trainning1{
    position: relative;
    color: #fff;
    width: 300px;
    height: 230px;
}
.trainning1 img{
    width: 100%;
    height: 100%;
}
.trainning1 span{
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(6, 255, 210, 0.5);
}
.trainning1 h4{
    position: absolute;
    bottom: 20px ;
    left: 20px;
    color: #000;
}

.trainning2{
    position: relative;
    color: #fff;
    width: 480px;
    height: 230px;
}
.trainning2 img{
    width: 100%;
    height: 100%;
}
.trainning2 span{
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(255, 0, 0, 0.3);
}
.trainning2 p{
    position: absolute;
    top: 20px ;
    left: 20px;
}

.trainning3{
    position: relative;
    color: #fff;
    width: 350px;
    height: 230px;
}
.trainning3 img{
    width: 100%;
    height: 100%;
}
.trainning3 span{
    height: 100%;
    width: 100%;
    position: absolute;
    background-color:rgba(0, 0, 0, 0.5);
}
.trainning3 p{
    position: absolute;
    bottom: 20px ;
    left: 20px;
    width: 45%;
}

.trainning4{
    position: relative;
    color: #fff;
    width: 380px;
    height: 230px;
}
.trainning4 img{
    width: 100%;
    height: 100%;
}
.trainning4 span{
    height: 100%;
    width: 100%;
    position: absolute;
    background-color:rgba(0, 0, 0, 0.5);
}
.trainning4 p{
    position: absolute;
    top: 20px ;
    right: 10px;
    width: 45%;
}

.trainning5{
    position: relative;
    color: #fff;
    width: 330px;
    height: 230px;
}
.trainning5 img{
    width: 100%;
    height: 100%;
}
.trainning5 span{
    height: 100%;
    width: 100%;
    position: absolute;
    background-color:rgba(66, 255, 0, 0.3);
}
.trainning5 p{
    position: absolute;
    bottom: 20px ;
    left: 20px;
    width: 65%;
}

.trainning6{
    position: relative;
    color: #fff;
    width: 420px;
    height: 230px;
}
.trainning6 img{
    width: 100%;
    height: 100%;
}
.trainning6 span{
    height: 100%;
    width: 100%;
    position: absolute;
    background-color:rgba(0, 71, 255, 0.3);
}
.trainning6 p{
    position: absolute;
    bottom: 20px ;
    left: 20px;
    width: 45%;
}

/* Calculator */
.bmi-calculator{
    padding: 50px 0;
}
.bmi-calculator-text{
    width: 80%;
    margin: 0 auto;
    padding-bottom: 60px;
}
.bmi-calculator-text p{
    width: 60%;
}
.calculator{
    background-color: rgba(34, 34, 34, 1);
}
.calculator-items{
    width: 90%;
    margin: 0 auto;
    padding: 70px 0;
    display: flex;
    justify-content: space-between;
}
.calculator-chart{
    width: 40%;
}
.calculator-chart h3, .calculate h3{
    font-size: 28px;
    margin-bottom: 40px;
    color: #fff;
}
table, th, td {
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-collapse: collapse;
    padding: 10px 40px 10px 15px;
    text-align: left;
}
td{
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
}
.calculate{
    width: 60%;
}
.calculate-text p{
    margin-bottom: 20px;
}
.calculate button{
    background-color: #E6533C;
    border: none;
    margin: 10px 0;
}
.calculate-form{
    width: 100%;
}
.input{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.input input{
    width: 100%;
    padding: 13px 20px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.5);
    outline: none;
}
.input input::placeholder{
    color: rgba(255, 255, 255, 0.5);
}
.select input::placeholder{
    color: rgba(255, 255, 255, 0.5);
}
select{
    width: 100%;
    padding: 13px 20px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.5);
    outline: none;
}
/* Our-Team */
.our-team{
    width: 90%;
    margin: 0 auto;
}
.team{
    padding-bottom: 80px;
}
.team-text{
    text-align: center;
    width: 55%;
    margin:0 auto;
    margin-bottom: 50px;
}
.team-trainers{
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 15px;
}
.trainers{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
}
.trainer{
    height: 350px;
    border-radius: 15px;
    position: relative;
}
.trainer h4{
    color: #ffff;
    font-size: 20px;
    font-weight: 800;
}
.trainer p{
    color:rgba(255, 255, 255, 0.5);
}
.trainer-text{
    position: absolute;
    left: 20px;
    bottom: 25px;
}
.trainer1{
    background-image: url(../images/trainer1.png);
    background-position: center;
    background-size: cover;
}
.trainer2{
    background-image: url(../images/trainer2.png);
    background-position:center;
    background-size: cover;
}
.trainer3{
    background-image: url(../images/trainer3.png);
    background-position: center;
    background-size: cover;
}
.trainer4{
    background-image: url(../images/trainer4.png);
    background-position: center;
    background-size: cover;
}
.trainer5{
    background-image: url(../images/trainer5.png);
    background-position: center;
    background-size: cover;
}
.trainer6{
    background-image: url(../images/trainer6.png);
    background-position:center;
    background-size: cover;
}
/* Footer */
.footer{
    background-color:rgba(10, 8, 8, 0.918);
}
.footer-content{
    width: 90%;
    margin: 0 auto;
}
.footer-text{
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.footer-text1{
    width: 35%;
}
.footer-text1 h2{
    font-size: 58px;
    font-style: italic;
    color: #E6533C;
    font-weight: 800;
    margin: 20px 0;
}
.footer-text1 p{
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
}
.footer-text2 h4{
    font-size: 28px;
    color: #fff;
    margin: 20px 0;
}
.footer-text2 ul li{
    font-size: 17px;
    margin: 10px 0;
}
.footer-text2 ul li a{
    color: rgba(255, 255, 255, 0.5);
}
.copyright{
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    padding: 25px 0;
}
